{% extends "base.html" %}

{% block content %}
<div class="mui-container">
    <div class="mui-panel">
        <form method="POST" class="mui-form">
            {{ form.csrf_token }}
            <legend>Смена пароля</legend>

            <div class="mui-textfield">
                {{ form.old_password(placeholder="Текущий пароль") }}
                <label>Текущий пароль</label>
            </div>

            <div class="mui-textfield">
                {{ form.new_password(placeholder="Новый пароль") }}
                <label>Новый пароль</label>
            </div>

            <div class="mui-textfield">
                {{ form.confirm_new_password(placeholder="Подтвердите новый пароль") }}
                <label>Подтверждение нового пароля</label>
            </div>

            <button type="submit" class="mui-btn mui-btn--primary">Изменить пароль</button>
        </form>
    </div>
</div>
{% endblock %}
