{% extends "base.html" %}

{% block content %}
<div class="mui-container">
    <div class="mui-panel">
        <h2>Профиль пользователя</h2>
        
        <form method="POST" enctype="multipart/form-data" class="mui-form">
            {{ form.csrf_token }}
            
            <div class="mui-textfield">
                {{ form.first_name(value=user.first_name) }}
                <label>Имя</label>
            </div>

            <div class="mui-textfield">
                {{ form.last_name(value=user.last_name) }}
                <label>Фамилия</label>
            </div>

            <div class="mui-textfield">
                {{ form.bio(placeholder=user.bio) }}
                <label>О себе</label>
            </div>

            

            <button type="submit" class="mui-btn mui-btn--primary">Обновить профиль</button>
            <a href="{{ url_for('auth.change_password') }}"  class="mui-btn">
                Сменить пароль
            </a>
        </form>
    </div>
</div>
{% endblock %}
