{% extends 'base.html' %}

{% block content %}
  <div class="mui-container">
    <div class="mui-panel">
      <h2>Личный кабинет</h2>

      <div class="mui-row" style="display: flex; flex-wrap: wrap;">
        <!-- Существующие карточки -->
        <div class="mui-col-md-4">
          <div class="mui-panel">
            <h3>Мой профиль</h3>
            <p>nick: {{ current_user.username }}</p>
            <p>mail: {{ current_user.email }}</p>
            {% if current_user.first_name != None and current_user.last_name != None %}
              <p>Имя и фамилия: {{ current_user.first_name }} {{ current_user.last_name }}</p>
            {% endif %}
            {% if current_user.bio != None %}
              <p>Био: {{ current_user.bio }}</p>
            {% endif %}
            <p>
              Роль:{% if current_user.role == UserRole.MODERATOR %}
                Модератор
              {% elif current_user.role == UserRole.ADMIN %}
                Администратор
              {% else %}
                Читатель
              {% endif %}
            </p>
            <a href="{{ url_for('auth.profile') }}" class="mui-btn mui-btn--primary">Редактировать</a>
          </div>
        </div>
        {% if current_user.role == UserRole.MODERATOR or current_user.role == UserRole.ADMIN %}
          <div class="mui-col-md-4">
            <div class="mui-panel">
              <h3>Мои книги</h3>
              {% if uploaded_books %}
                <ol>
                  {% for book in uploaded_books %}
                    <li>{{ book.title }}</li>
                  {% endfor %}
                </ol>
              {% else %}
                <p>Вы еще не загрузили книг</p>
              {% endif %}
              <a href="{{ url_for('books.upload_book') }}" class="mui-btn mui-btn--primary">Загрузить книгу</a>
            </div>
          </div>
        {% endif %}

        <!-- Новые карточки для панелей управления -->
        {% if current_user.role == UserRole.ADMIN %}
          <div class="mui-col-md-4">
            <div class="mui-panel">
              <h3>Администрирование</h3>
              <p>Управление пользователями и системой</p>
              <a href="{{ url_for('admin.manage_users') }}" class="mui-btn mui-btn--primary">Панель администратора</a>
            </div>
          </div>
        {% endif %}

        <!-- Панель модератора -->
        {% if current_user.role == UserRole.MODERATOR %}
          <div class="mui-col-md-4">
            <div class="mui-panel">
              <h3>Модерация</h3>
              <p>Проверка и публикация контента</p>
              <a href="{{ url_for('moderator.manage_publications') }}" class="mui-btn mui-btn--primary">Панель модератора</a>
            </div>
          </div>
        {% endif %}

        <!-- Панель автора -->
        {% if current_user.role == UserRole.MODERATOR or current_user.role == UserRole.ADMIN %}
          <div class="mui-col-md-4">
            <div class="mui-panel">
              <h3>Авторская панель</h3>
              <p>Статистика и управление книгами</p>
              <a href="{{ url_for('author.author_dashboard') }}" class="mui-btn mui-btn--primary">Панель автора</a>
            </div>
          </div>
        {% endif %}

        <div class="mui-col-md-4" style="width: 100%;">
          <div class="mui-panel" style="overflow: hidden;">
            <h3>Закладки</h3>
            {% if bookmarks %}
              <div class="mui-col-md-4">
                {% for bookmark in bookmarks %}
                  <div class="mui-row" style="margin-bottom: 10px; display: flex; align-items: center; flex-direction: column;">
                    <div class="mui-col-md-8" style="margin-right: 10px; ">
                      <a href="{{ url_for('books.read_book', book_id=bookmark.book.id) }}" class="mui-btn mui-btn--primary" style=" margin-right: 220px; padding-right: 100px; overflow: hidden;">{{ bookmark.book.title }}</a>
                    </div>
                    <div class="mui-col-md-4">
                      <form action="{{ url_for('user.delete_bookmark', bookmark_id=bookmark.id) }}" method="POST" style="display: inline;">
                        <button type="submit" class="mui-btn mui-btn--danger">
                          <span class="material-icons" style="margin-top: 5px;">delete</span>
                        </button>
                      </form>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% else %}
              <p>У вас пока нет закладок</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
